.footer {
  background: $black;
}
.footer__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 342px;
  height: 100%;
  padding: 53px 0 40px;
  text-align: center;
  @media (min-width: 768px) and (max-width: 1199px) {
    max-height: 408px;
    padding: 96px 0 35px;
  }
  @media (min-width: 1200px) {
    max-height: 530px;
    padding: 78px 0 30px;
  }
}
.footer__btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid $border-white;
  border-radius: 139px;
  padding: 10.5px 33.5px;
  gap: 20px;
  margin: 0 auto;
  @media (min-width: 768px) and (max-width: 1199px) {
    padding: 21px 37px;
  }
  @media (min-width: 1200px) {
    width: 914px;
    padding: 24px 137px;
  }
}
.btn__content {
  display: flex;
  flex-direction: column;
  gap: 4px;
  @media (min-width: 768px) {
    gap: 17px;
  }
}
.dawn-icon {
  display: block;
  background: url(../images/Dawn.svg);
  width: 52px;
  height: 51px;
  background-size: cover;
  @media (min-width: 768px) {
    width: 108px;
    height: 108px;
  }
}
.btn__content p:first-child {
  color: $white;
  font-family: DynaPuff;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  @media (min-width: 768px) {
    font-size: 48px;
    line-height: 58px;
  }
}
.btn__content p:nth-child(2) {
  color: $white;
  font-family: Manrope;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  display: flex;
  align-items: center;
  @media (min-width: 768px) {
    font-size: 24px;
    line-height: 33px;
  }
  &::after {
    content: "";
    display: inline-block;
    width: 32.79px;
    height: 15.5px;
    background-image: url(../images/Group_2.svg);
    margin-left: 24px;
    background-size: cover;
    @media (min-width: 768px) {
      width: 55px;
      height: 26px;
    }
  }
}
.media {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 38px;
  padding-top: 113px;
  @media (min-width: 768px) and (max-width: 1199px) {
    padding-top: 60px;
  }
  @media (min-width: 1200px) {
    padding-top: 163px;
  }
}
.media a {
  display: block;
  width: 24px;
  height: 24px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.media__twitch-icon {
  background: url(../images/twitch.svg);
}
.media__twiter-icon {
  background: url(../images/twitter.svg);
}
.media__instagram-icon {
  background: url(../images/instagram.svg);
}
.media__linkedin-icon {
  background: url(../images/linkedin.svg);
}

.footer__copyright {
  text-align: center;
  color: $white;
  padding-top: 23px;
  font-family: Manrope;
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  @media (min-width: 768px) {
    font-size: 16px;
    line-height: 22px;
  }
}
