.design-section {
  background-color: $black;
  padding: 58px 0 93px;
  @media (min-width: 768px) and (max-width: 1199px) {
    padding: 82px 0 129px;
  }
  @media (min-width: 1200px) {
    padding: 82px 0 138px;
  }
}
.design__title {
  color: $white;
  font-family: DynaPuff;
  font-size: 36px;
  font-weight: 700;
  line-height: 43px;
  padding-bottom: 28px;
  @media (min-width: 768px) {
    font-size: 80px;
    line-height: 96px;
    padding-bottom: 38px;
  }
}
.design__gallery {
  display: grid;
  grid-template-columns: 1fr;

  gap: 20px;
  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 26px 34px;
    .img--large {
      grid-column: span 2;
    }
  }
  @media (min-width: 768px) and (max-width: 1199px) {
    gap: 26px;
  }
  img {
    display: block;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: grayscale(100%);
    height: 325px;
    border-radius: 40px;
    @media (min-width: 1200px) {
      height: 414px;
    }
  }
  .img--large img {
    @media (min-width: 768px) {
      height: 414px;
    }
  }
}

.img-item {
  position: relative;
  &::after {
    content: "";
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
  }
}
.img-item:nth-child(1) {
  &::after {
    content: "";
    width: 172px;
    height: 172px;
    background-image: url(../images/Soft_Star.svg);
    @media (min-width: 768px) and (max-width: 1199px) {
      width: 227px;
      height: 227px;
    }
    @media (min-width: 1200px) {
      width: 268px;
      height: 268px;
    }
  }
}
.img-item:nth-child(2) {
  &::after {
    content: "";
    width: 134px;
    height: 137px;
    background-image: url(../images/Butterfly.svg);
    @media (min-width: 768px) and (max-width: 1199px) {
      width: 147px;
      height: 151px;
    }
    @media (min-width: 1200px) {
      width: 187px;
      height: 191.49px;
    }
  }
}
.img-item:nth-child(3) {
  &::after {
    content: "";
    width: 148px;
    height: 143px;
    background-image: url(../images/Asterisk.svg);
    @media (min-width: 768px) and (max-width: 1199px) {
      width: 183px;
      height: 177px;
    }
    @media (min-width: 1200px) {
      width: 233px;
      height: 225px;
    }
  }
}
