@import "./_variables.scss";

.header {
  background: linear-gradient(347deg, #ffee32 -13.48%, #d6d6d6 135.48%);
  min-height: 92px;
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  //   justify-content: space-between;
  align-items: center;
}
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    background: url(../images/Hope.svg);
    max-width: 56px;
    width: 100%;
    height: 56px;
    display: block;
  }
  .burger-icon {
    // display: block;
    background: url(../images/burger-menu.svg);
    max-width: 56px;
    width: 100%;
    height: 56px;
    border: none;
    cursor: pointer;
  }
}

@media (min-width: 1201px) {
  .burger-icon {
    display: none;
  }
}

.menu {
  align-items: center;
  gap: 20px;
  display: none;
}
@media (min-width: 1201px) {
  .menu {
    display: flex;
  }
}
.menu__link {
  display: flex;
  align-items: center;
  gap: 12px;
  border: 1px solid $white;
  border-radius: 20px;
  padding: 10px 16px 10px 16px;
  color: $white;
  font-family: Manrope;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
}

.container {
  margin: 0 auto;
}
@media (min-width: 1200px) {
  .container {
    width: 1056px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .container {
    width: 704px;
  }
}

@media (min-width: 340px) and (max-width: 767px) {
  .container {
    width: 344px;
  }
}
