.hero {
  background: $yellow-gradient;

  min-height: 708px;
}

.title-meaning {
  color: rgb(255, 255, 255);
  font-family: DynaPuff;
  font-size: 80px;
  font-weight: 700;
  line-height: 96px;
  padding-top: 401px;
}
@media (min-width: 769px) and (max-width: 1200px) {
  .title-meaning {
    padding-top: 179px;
  }
}
@media (min-width: 320px) and (max-width: 768px) {
  .title-meaning {
    padding-top: 329px;
    font-size: 48px;
    line-height: 58px;
  }
}
