@import "./_variables.scss";
.meet-section {
  display: flex;
  align-items: center;
  background: $black;
  height: 470px;
  background-image: url(../images/ellipse.svg);
  background-repeat: no-repeat;
  background-position: right;
}
@media (max-width: 1200px) {
  .meet-section {
    background-position: bottom -45px right -140px;
  }
}
@media (max-width: 767px) {
  .meet-section {
    background-position: bottom 0 right -200px;
    background-size: 320px;
  }
}
.meet {
  display: flex;
  flex-direction: column;

  gap: 40px;
}
.meet__list {
  display: flex;
  align-items: center;
  gap: inherit;
  color: $white;
}
.meet__title {
  font-family: DynaPuff;
  font-size: 36px;
  font-weight: 700;
  line-height: 43px;
  color: $yellow;
}
.meet__info {
  font-family: Manrope;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  color: $white;
}
.list__item {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 19%;
}
.item__number {
  font-family: DynaPuff;
  font-size: 36px;
  font-weight: 700;
  line-height: 43px;
}
.item__text {
  font-family: Manrope;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
}
@media (min-width: 768px) {
  .meet__title {
    font-size: 48px;
    line-height: 58px;
  }
  .meet__info {
    font-size: 16px;
    line-height: 22px;
    width: 67%;
  }
  .item__number {
    font-size: 48px;
    line-height: 58px;
  }
}
@media (min-width: 1200px) {
  .meet__info {
    width: 50%;
  }
}
