.apps-section {
  background: $dark-gray;
  padding: 52px 0 85px;
  @media (min-width: 768px) and (max-width: 1199px) {
    padding-bottom: 122px;
  }
  @media (min-width: 1200px) {
    padding: 86px 0;
  }
}
.apps-content {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  gap: 63px 40px;

  @media (min-width: 768px) and (max-width: 1199px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 102px 40px;
    .card--large {
      grid-column: span 2;
    }
  }
  @media (min-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
    .card--large {
      grid-column: span 3;
    }
  }
}
.card {
  background-color: $white;
  border-radius: 24px;
  padding: 16px;
  position: relative;

  @media (min-width: 768px) {
    padding: 20px;
  }
  &::after {
    content: "";
    display: block;
    width: 56px;
    height: 56px;
    background-color: $white;
    background-image: url(../images/fi-rr-arrow-up.svg);
    background-repeat: no-repeat;
    position: absolute;
    right: 40px;
    top: 40px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.09);
    backdrop-filter: blur(10px);
    border-radius: 50%;
    background-position: center;
  }
  .card__img {
    width: 100%;
    display: block;
    border-radius: 13px;
    min-height: 278px;
    max-height: 478px;
    background-size: cover;
    position: relative;
  }
  .card__img--height {
    max-height: 363px;
    height: 100%;
    @media (min-width: 768px) and (max-width: 1199px) {
      max-height: 448px;
    }
    @media (min-width: 1200px) {
      max-height: 338px;
    }
  }
}
@media (max-width: 767px) {
  .second-card--none {
    display: none;
  }
}
@media (max-width: 1199px) {
  .third-card--none {
    display: none;
  }
}
.apps-content .card-img--large {
  display: none;
}
@media (min-width: 1200px) {
  .apps-content .small-img--none {
    display: none;
  }
}
@media (min-width: 1200px) {
  .apps-content .card-img--large {
    display: block;
  }
}
.card__title {
  padding: 20px 0 22px;
  color: $light-gray;
  font-family: DynaPuff;
  font-size: 32px;
  font-weight: 600;
  line-height: 38px;
  @media (min-width: 768px) {
    font-size: 40px;
    line-height: 48px;
  }
}
.card__text {
  color: $black;
  font-family: Manrope;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  @media (min-width: 768px) {
    font-size: 16px;
    line-height: 22px;
  }
  @media (min-width: 1200px) {
    max-width: 580px;
    font-size: 16px;
    line-height: 22px;
  }
}
.bottom-card-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  @media (min-width: 768px) {
    font-weight: 700;
    line-height: 38px;
  }
}
.bottom-card-text {
  min-width: 303px;
  font-weight: 500;
  @media (min-width: 1200px) {
    min-width: 285px;
  }
}
.card-bottom--height {
  @media (min-width: 768px) and (max-width: 1199px) {
    min-height: 634px;
    height: 100%;
  }
}
