.quote-section {
  background: url(../images/quote_background.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.quote-content {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 498px;
  height: 100%;
  @media (min-width: 768px) {
    min-height: 800px;
  }
}
.quote__title {
  color: $white;
  font-family: DynaPuff;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  text-align: center;
  @media (min-width: 768px) {
    font-size: 48px;
    line-height: 58px;
  }
}
