// COLORS
$white: #ffffff;
$yellow-gradient: linear-gradient(
  225.41deg,
  rgb(255, 238, 50) -13.303%,
  rgb(214, 214, 214) 125.303%
);
$yellow: #faeb49;
$black-default: #000000;
$black: #202020;
$dark-gray: #3c3c3c;
$light-gray: #565656;
$orange: #f8841d;
$dark-yellow: #f2c94c;
$blue: #2f80ed;
$border-white: #f2f2f2;
// FONTS-WAIGHT
$font-normal: 500;
$font-medium: 600;
$font-bold: 700;
// SIZES
$font-size-xs: 16px;
$font-size-small: 24px;
$font-size-medium: 32px;
$font-size-xl: 40px;
$font-size-xxl: 48px;
$font-size-xxxl: 80px;
